In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\nchan\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nchan\appdata\roaming\python\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nchan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nchan\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nchan\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\nchan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

df = pd.read_csv('./combined_pump_timeseries.csv')

df.head()

,timestamp,pump_throughput_m3ph,operating_pressure_bar,vibration_mm_s,bearing_temp_C,status,pump_number
0,2025-04-15 20:14:00.388595,101.948189,9.911733,1.151807,63.317134,RUNNING,1
1,2025-04-15 20:24:00.388595,97.350999,10.015090,1.222389,67.622323,RUNNING,1
2,2025-04-15 20:34:00.388595,98.642862,9.890661,1.284898,67.834281,RUNNING,1
3,2025-04-15 20:44:00.388595,101.125591,10.136244,1.010065,64.876550,RUNNING,1
4,2025-04-15 20:54:00.388595,102.167705,10.048706,0.981551,69.590331,RUNNING,1

In [4]:
print(df.columns.tolist())

print(df.shape)

print(df.info())

['timestamp', 'pump_throughput_m3ph', 'operating_pressure_bar', 'vibration_mm_s', 'bearing_temp_C', 'status', 'pump_number']
(720050, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720050 entries, 0 to 720049
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   timestamp               720050 non-null  object
 1   pump_throughput_m3ph    720050 non-null  float64
 2   operating_pressure_bar  720050 non-null  float64
 3   vibration_mm_s          720050 non-null  float64
 4   bearing_temp_C          720050 non-null  float64
 5   status                  720050 non-null  object
 6   pump_number             720050 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 38.5+ MB
None

In [5]:
print(df.describe())

       pump_throughput_m3ph  operating_pressure_bar  vibration_mm_s  \
count         720050.000000           720050.000000   720050.000000
mean              93.156963                9.127803        1.244187
std               25.236050                2.497118        0.473408
min                0.000000                0.000000        0.000000
25%               96.969297                9.383827        1.040613
50%               99.567912                9.765681        1.291071
75%              101.981651               10.093015        1.535483
max              117.049782               12.047137        3.241878

       bearing_temp_C   pump_number
count   720050.000000  720050.00000
mean        63.878201      25.50000
std         11.645467      14.43088
min         20.000154       1.00000
25%         62.215621      13.00000
50%         66.091074      25.50000
75%         69.812705      38.00000
max         96.225883      50.00000

In [7]:
for col in df.columns:
    print(f"{col} has {df[col].nunique()} unique values.")

timestamp has 14401 unique values.
pump_throughput_m3ph has 671601 unique values.
operating_pressure_bar has 671601 unique values.
vibration_mm_s has 671555 unique values.
bearing_temp_C has 720050 unique values.
status has 2 unique values.
pump_number has 50 unique values.

In [8]:
for col in df.columns:
    print(f"column name: {col}")
    print(df[col])

    print("\n\n\n ###########################################")

column name: timestamp
0         2025-04-15 20:14:00.388595
1         2025-04-15 20:24:00.388595
2         2025-04-15 20:34:00.388595
3         2025-04-15 20:44:00.388595
4         2025-04-15 20:54:00.388595
                     ...
720045    2025-07-24 19:34:00.388595
720046    2025-07-24 19:44:00.388595
720047    2025-07-24 19:54:00.388595
720048    2025-07-24 20:04:00.388595
720049    2025-07-24 20:14:00.388595
Name: timestamp, Length: 720050, dtype: object



 ###########################################
column name: pump_throughput_m3ph
0         101.948189
1          97.350999
2          98.642862
3         101.125591
4         102.167705
             ...
720045     98.430545
720046    101.143881
720047     99.224023
720048     99.748459
720049     99.410176
Name: pump_throughput_m3ph, Length: 720050, dtype: float64



 ###########################################
column name: operating_pressure_bar
0          9.911733
1         10.015090
2          9.890661
3         10.136244
4         10.048706
            ...
720045    10.291101
720046    10.045616
720047    10.154750
720048    10.310334
720049     9.683489
Name: operating_pressure_bar, Length: 720050, dtype: float64



 ###########################################
column name: vibration_mm_s
0         1.151807
1         1.222389
2         1.284898
3         1.010065
4         0.981551
            ...
720045    1.287550
720046    0.902897
720047    0.943011
720048    1.251775
720049    1.105546
Name: vibration_mm_s, Length: 720050, dtype: float64



 ###########################################
column name: bearing_temp_C
0         63.317134
1         67.622323
2         67.834281
3         64.876550
4         69.590331
            ...
720045    68.181174
720046    68.818643
720047    67.481187
720048    70.447909
720049    69.322490
Name: bearing_temp_C, Length: 720050, dtype: float64



 ###########################################
column name: status
0         RUNNING
1         RUNNING
2         RUNNING
3         RUNNING
4         RUNNING
           ...
720045    RUNNING
720046    RUNNING
720047    RUNNING
720048    RUNNING
720049    RUNNING
Name: status, Length: 720050, dtype: object



 ###########################################
column name: pump_number
0          1
1          1
2          1
3          1
4          1
          ..
720045    50
720046    50
720047    50
720048    50
720049    50
Name: pump_number, Length: 720050, dtype: int64



 ###########################################

In [9]:
print(df['status'].unique())

['RUNNING' 'DOWN']

In [10]:
df.isna().sum()

timestamp                 0
pump_throughput_m3ph      0
operating_pressure_bar    0
vibration_mm_s            0
bearing_temp_C            0
status                    0
pump_number               0
dtype: int64

In [12]:
features = df.drop(columns=['status'])
features.head(10)

,timestamp,pump_throughput_m3ph,operating_pressure_bar,vibration_mm_s,bearing_temp_C,pump_number
0,2025-04-15 20:14:00.388595,101.948189,9.911733,1.151807,63.317134,1
1,2025-04-15 20:24:00.388595,97.350999,10.015090,1.222389,67.622323,1
2,2025-04-15 20:34:00.388595,98.642862,9.890661,1.284898,67.834281,1
3,2025-04-15 20:44:00.388595,101.125591,10.136244,1.010065,64.876550,1
4,2025-04-15 20:54:00.388595,102.167705,10.048706,0.981551,69.590331,1
5,2025-04-15 21:04:00.388595,99.728711,9.745939,1.200841,65.649736,1
6,2025-04-15 21:14:00.388595,100.122518,9.697040,1.152724,63.397770,1
7,2025-04-15 21:24:00.388595,102.037017,9.486307,0.863989,66.848199,1
8,2025-04-15 21:34:00.388595,102.517862,9.095483,0.833873,63.903320,1
9,2025-04-15 21:44:00.388595,101.281416,9.494069,0.858446,65.848276,1